@charset "utf-8";

#graphs li > ul {
	display: none;
}

#graphs li.show > ul {
	display: block;
}

#graphs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

#graphs ul {
	padding-left: 1em;
}