@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

.hide {
	display: none;
}

.normal, .slow, .slower, .slowest {
	font-size: 70%;
	padding: 1px;
	border: solid 1px black;
}

.slowest {
	background-color: red;
	color: white;
}

.slower {
	background-color: orange;
}

.slow {
	background-color: yellow;
}

.normal {
	border: none;
}

#item-table {
	border-width: 1px;
	border-color: #999;
}

#item-table td {
	text-align: right;
}

#item-table td:last-child {
	text-align: left;
}

#graphs li > ul {
	display: none;
}

#graphs li.show > ul {
	display: block;
}


#graphs ul {
	padding-left: 1em;
}

#useragent, #date {
	font-weight: bold;
	margin-bottom: 1em;
}
#useragent span, #date span {
	font-weight: normal;
}

#graphs li:hover {
	background-color: #CCFFFF;
	cursor: pointer
}

#call-stats-hdr, #call-graphs-hdr {
	cursor: pointer
}